.inputContainer {
  max-width: 960px;
  position: relative;
  width: 100%;
}

.inputContainer svg {
  position: absolute;
  left: 12px;
  top: 14px;
}

.input {
  border: solid 2px var(--grey400);
  border-radius: 6px;
  font-family: var(--fontFamilyPrimary);
  font-size: 15px;
  height: 49px;
  line-height: 15px;
  padding: 12px 12px 12px 42px;
  width: 100%;

  &:focus {
    border-color: var(--colorPrimary);
    outline: none;
  }
}

.input:focus + svg {
  fill: var(--colorPrimary) !important;
}

.container {
  display: flex;
}

.button {
  background: none;
  border: solid 2px var(--grey400);
  border-radius: 6px;
  color: var(--grey600);
  cursor: pointer;
  font-family: var(--fontFamilyPrimary);
  font-weight: 700;
  margin: 0 24px;
  outline: none;
  text-align: center;
  transition: all 0.1s ease-in-out;
  width: 64px;
}

.button:hover {
  box-shadow: 0 3px 3px rgba(#cbd5e0, 0.5);
}

.button:active {
  background: var(--grey75);
}

.button svg {
  vertical-align: bottom;
}
