table {
	border-collapse: collapse;
	width: 100%;
}

table th {
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	padding: 8px 24px;
}

table tbody td {
	border: solid 1px #CCC;
	padding: 8px;
}

table td {
	vertical-align: top;
}
