
.panel {
  border: solid 1px var(--textColorDisabled);
  border-radius: 6px;
  padding: 24px 32px;
  display: grid;
  grid-gap: 24px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    border-color: var(--colorPrimary);
  }
}

.inner {
  display: grid;
  grid-gap: 24px;
}

.row {
  display: grid;
  grid-gap: 24px;
}

.metaRow {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.field {
  cursor: initial;
}

.label {
  color: var(--textColorSecondary);
  font-size: var(--fontSizeSmall);
  font-weight: bold;
  line-height: 2;
  margin-bottom: 4px;
}

.filterTable {
  margin-bottom: 0;
  width: auto;

  tr {
    border: none;
  }

  td {
    border: none;
    padding: 12px;
  }
}

.pip {
  background: var(--grey400);
  border-radius: 100px;
  display: inline-block;
  height: 10px;
  margin-right: 2px;
  width: 10px;
  vertical-align: baseline;

  &.error {
    background-color: var(--colorError50);
  }

  &.ok {
    background-color: var(--colorSuccess50);
  }
}

.sparkline {
  display: inline-block;
}

.sparkline svg {
  stroke: var(--colorPrimary);
  fill: rgba(129, 135, 255, 0.25);
}

// .inner {
//   cursor: initial;
// }
