
.panel {
  border: solid 1px var(--textColorDisabled);
  border-radius: 6px;
  padding: 24px 32px;
  display: grid;
  grid-gap: 24px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    border-color: var(--colorPrimary);
  }
}

.row {
  display: grid;
  grid-gap: 24px;
}

.metaRow {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.label {
  font-size: var(--fontSizeSmall);
  font-weight: bold;
  line-height: 2;
}

.filterTable {
  margin-bottom: 0;
  width: auto;

  tr {
    border: none;
  }

  td {
    border: none;
    padding: 12px;
  }
}
