.backButton {
  border-radius: 100px;
  font-size: var(--fontSizeSmall);
  font-weight: bold;
  display: inline-block;
  padding: 12px 12px;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: var(--grey200);
  }
}

.header {
  margin: 1.2rem 0 4.8rem 0;
}

.header h1 {
  display: block;
  margin: 1.6rem 0 0 0;
  padding: 0;
}

.headingMeta {
  display: flex;
}

.headingMeta span {
  display: inline-block;
  font-size: var(--fontSizeLarge);
  line-height: 2;

  &::after {
    color: var(--colorScaffoldingHighlight);
    content: '/';
    display: inline-block;
    margin: 0 1.2rem;
  }

  &:last-child::after {
    content: none;
  }
}

.filterList {
  // margin: 0;
  // padding: 0;
}

.tabs {
  border-bottom: solid 1px var(--grey200);
  display: flex;
  margin-bottom: 48px;
  width: 100%;
}

.tab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--textColorPrimary) !important;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 12px 24px;

  &:hover {
    background: var(--grey75);
  }

  &.activeTab {
    border-bottom: solid 3px var(--colorPrimary);
  }
}
