.tabletCounts {
  color: var(--textColorSecondary);
  font-size: var(--fontSizeSmall);
  margin-top: 1rem;
}

.shardName {
  font-size: var(--fontSizeLarge);
  font-weight: bold;
  vertical-align: middle;
}
